docs/examples/clone-build-download.json
{
  "name": "Daytona — Clone repo, run build, download artifact",
  "nodes": [
    {
      "parameters": {},
      "id": "11111111-1111-1111-1111-111111111111",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 320]
    },
    {
      "parameters": {
        "resource": "sandbox",
        "operation": "create",
        "snapshot": "",
        "name": "n8n-build-sandbox",
        "ephemeral": false,
        "waitUntilStarted": true,
        "waitTimeoutSeconds": 90,
        "additionalFields": {
          "autoStopInterval": 15
        }
      },
      "id": "22222222-2222-2222-2222-222222222222",
      "name": "Create Sandbox",
      "type": "@daytona/n8n-nodes-daytona.daytona",
      "typeVersion": 1,
      "position": [440, 320],
      "credentials": {
        "daytonaApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Daytona API account"
        }
      }
    },
    {
      "parameters": {
        "resource": "git",
        "operation": "clone",
        "sandboxId": "={{ $json.id }}",
        "repositoryUrl": "https://github.com/octocat/Hello-World.git",
        "path": "/workspace/repo",
        "additionalFields": {}
      },
      "id": "33333333-3333-3333-3333-333333333333",
      "name": "Clone Repo",
      "type": "@daytona/n8n-nodes-daytona.daytona",
      "typeVersion": 1,
      "position": [680, 320],
      "credentials": {
        "daytonaApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Daytona API account"
        }
      }
    },
    {
      "parameters": {
        "resource": "code",
        "operation": "runCommand",
        "command": "ls -la /workspace/repo > /tmp/build-output.txt",
        "useEphemeralSandbox": false,
        "sandboxId": "={{ $('Create Sandbox').item.json.id }}",
        "additionalFields": {
          "timeout": 60
        }
      },
      "id": "44444444-4444-4444-4444-444444444444",
      "name": "Run Build",
      "type": "@daytona/n8n-nodes-daytona.daytona",
      "typeVersion": 1,
      "position": [920, 320],
      "credentials": {
        "daytonaApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Daytona API account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "download",
        "sandboxId": "={{ $('Create Sandbox').item.json.id }}",
        "remotePath": "/tmp/build-output.txt",
        "binaryPropertyName": "data"
      },
      "id": "55555555-5555-5555-5555-555555555555",
      "name": "Download Artifact",
      "type": "@daytona/n8n-nodes-daytona.daytona",
      "typeVersion": 1,
      "position": [1160, 320],
      "credentials": {
        "daytonaApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Daytona API account"
        }
      }
    },
    {
      "parameters": {
        "resource": "sandbox",
        "operation": "delete",
        "sandboxId": "={{ $('Create Sandbox').item.json.id }}"
      },
      "id": "66666666-6666-6666-6666-666666666666",
      "name": "Delete Sandbox",
      "type": "@daytona/n8n-nodes-daytona.daytona",
      "typeVersion": 1,
      "position": [1400, 320],
      "credentials": {
        "daytonaApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Daytona API account"
        }
      }
    }
  ],
  "connections": {
    "When clicking 'Test workflow'": {
      "main": [[{ "node": "Create Sandbox", "type": "main", "index": 0 }]]
    },
    "Create Sandbox": {
      "main": [[{ "node": "Clone Repo", "type": "main", "index": 0 }]]
    },
    "Clone Repo": {
      "main": [[{ "node": "Run Build", "type": "main", "index": 0 }]]
    },
    "Run Build": {
      "main": [[{ "node": "Download Artifact", "type": "main", "index": 0 }]]
    },
    "Download Artifact": {
      "main": [[{ "node": "Delete Sandbox", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "daytona-example",
      "id": "daytona-example"
    }
  ],
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
