docs/examples/file-ops-smoke-test.json
{
  "name": "Daytona — File ops smoke test",
  "nodes": [
    {
      "parameters": {},
      "id": "00000000-0000-0000-0000-000000000001",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 460]
    },
    {
      "parameters": {
        "resource": "sandbox",
        "operation": "create",
        "snapshot": "",
        "image": "",
        "name": "",
        "ephemeral": false,
        "waitUntilStarted": true,
        "waitTimeoutSeconds": 120,
        "additionalFields": {}
      },
      "id": "00000000-0000-0000-0000-000000000002",
      "name": "Create Sandbox",
      "type": "@daytona/n8n-nodes-daytona.daytona",
      "typeVersion": 1,
      "position": [420, 460]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "createFolder",
        "sandboxId": "={{ $json.id }}",
        "path": "/home/daytona/smoke-test",
        "mode": "0755"
      },
      "id": "00000000-0000-0000-0000-000000000003",
      "name": "Create Folder",
      "type": "@daytona/n8n-nodes-daytona.daytona",
      "typeVersion": 1,
      "position": [640, 460]
    },
    {
      "parameters": {
        "resource": "code",
        "operation": "runCommand",
        "command": "echo 'hello from file ops test' > /home/daytona/smoke-test/hello.txt && echo 'second file' > /home/daytona/smoke-test/world.txt",
        "useEphemeralSandbox": false,
        "sandboxId": "={{ $('Create Sandbox').item.json.id }}",
        "snapshot": "",
        "additionalFields": {}
      },
      "id": "00000000-0000-0000-0000-000000000004",
      "name": "Write two files",
      "type": "@daytona/n8n-nodes-daytona.daytona",
      "typeVersion": 1,
      "position": [860, 460]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "sandboxId": "={{ $('Create Sandbox').item.json.id }}",
        "path": "/home/daytona/smoke-test"
      },
      "id": "00000000-0000-0000-0000-000000000005",
      "name": "List (2 files)",
      "type": "@daytona/n8n-nodes-daytona.daytona",
      "typeVersion": 1,
      "position": [1080, 460]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "move",
        "sandboxId": "={{ $('Create Sandbox').item.json.id }}",
        "source": "/home/daytona/smoke-test/hello.txt",
        "destination": "/home/daytona/smoke-test/greetings.txt"
      },
      "id": "00000000-0000-0000-0000-000000000006",
      "name": "Rename hello.txt → greetings.txt",
      "type": "@daytona/n8n-nodes-daytona.daytona",
      "typeVersion": 1,
      "position": [1300, 460]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "sandboxId": "={{ $('Create Sandbox').item.json.id }}",
        "path": "/home/daytona/smoke-test"
      },
      "id": "00000000-0000-0000-0000-000000000007",
      "name": "List (verify rename)",
      "type": "@daytona/n8n-nodes-daytona.daytona",
      "typeVersion": 1,
      "position": [1520, 460]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "delete",
        "sandboxId": "={{ $('Create Sandbox').item.json.id }}",
        "path": "/home/daytona/smoke-test/world.txt",
        "recursive": false
      },
      "id": "00000000-0000-0000-0000-000000000008",
      "name": "Delete world.txt",
      "type": "@daytona/n8n-nodes-daytona.daytona",
      "typeVersion": 1,
      "position": [1740, 460]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "delete",
        "sandboxId": "={{ $('Create Sandbox').item.json.id }}",
        "path": "/home/daytona/smoke-test",
        "recursive": true
      },
      "id": "00000000-0000-0000-0000-000000000009",
      "name": "Delete folder (recursive)",
      "type": "@daytona/n8n-nodes-daytona.daytona",
      "typeVersion": 1,
      "position": [1960, 460]
    },
    {
      "parameters": {
        "resource": "sandbox",
        "operation": "delete",
        "sandboxId": "={{ $('Create Sandbox').item.json.id }}"
      },
      "id": "00000000-0000-0000-0000-000000000010",
      "name": "Delete Sandbox",
      "type": "@daytona/n8n-nodes-daytona.daytona",
      "typeVersion": 1,
      "position": [2180, 460]
    },
    {
      "parameters": {
        "content": "## Daytona — File ops smoke test\n\nExercises **all 4 new File operations** end-to-end:\n\n- **File.CreateFolder** → /home/daytona/smoke-test (mode 0755)\n- **Write two files** via Code.RunCommand (hello.txt + world.txt)\n- **File.List** → verify 2 files (check output's `count: 2`)\n- **File.Move** → rename hello.txt → greetings.txt\n- **File.List** → verify rename (output's `files[]` shows greetings.txt + world.txt)\n- **File.Delete** → delete single file (world.txt)\n- **File.Delete (recursive)** → delete the whole folder\n- **Sandbox.Delete** → cleanup\n\n### Total runtime: ~15s",
        "height": 360,
        "width": 380
      },
      "id": "00000000-0000-0000-0000-000000000020",
      "name": "Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [200, 60]
    }
  ],
  "connections": {
    "When clicking 'Test workflow'": {
      "main": [[{ "node": "Create Sandbox", "type": "main", "index": 0 }]]
    },
    "Create Sandbox": {
      "main": [[{ "node": "Create Folder", "type": "main", "index": 0 }]]
    },
    "Create Folder": {
      "main": [[{ "node": "Write two files", "type": "main", "index": 0 }]]
    },
    "Write two files": {
      "main": [[{ "node": "List (2 files)", "type": "main", "index": 0 }]]
    },
    "List (2 files)": {
      "main": [[{ "node": "Rename hello.txt → greetings.txt", "type": "main", "index": 0 }]]
    },
    "Rename hello.txt → greetings.txt": {
      "main": [[{ "node": "List (verify rename)", "type": "main", "index": 0 }]]
    },
    "List (verify rename)": {
      "main": [[{ "node": "Delete world.txt", "type": "main", "index": 0 }]]
    },
    "Delete world.txt": {
      "main": [[{ "node": "Delete folder (recursive)", "type": "main", "index": 0 }]]
    },
    "Delete folder (recursive)": {
      "main": [[{ "node": "Delete Sandbox", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {},
  "tags": [],
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
